{% extends 'base.html.twig' %}

{% block header %}
    {% include 'components/header.html.twig' %}
{% endblock %}

{% block body %}
    {{ dump() }}

    <section>
        {{ form(formArret) }}

        <div class="card-content">
            <span class="info-title">Station
                {% if formArret.vars.submitted %}
                    {{ formArret.vars.data.nomArret }}
                {% endif %}
            </span>

            <div class="info-left">
                <span>Direction J.F. Kennedy</span>

                {% if (nextArret0.arrivee is not empty) %}
                    <span>Prochaine arrivée à :
                        {{ nextArret0.arrivee }}
                </span>
                    {# <span>Prochaine arrivée dans: {{ dataSens0|first['arrivee']|time_diff }}</span> #}
                {% else %}
                    <span>Pas de données pour le moment</span>
                {% endif %}
            </div>

            <div class="info-right">
                <span>Direction La Poterie</span>

                {% if (nextArret1.arrivee is not empty) %}
                    <span>Prochaine arrivée à :
                    {% if dataSens1|length != 0 %}
                        {{ dataSens1|first['arrivee'] }}
                    {% endif %}
                </span>
                    <span>Prochaine arrivée dans : 02m 34s</span>
                {% else %}
                    <span>Pas de données pour le moment</span>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html.twig' %}
{% endblock %}