{% extends'base.html.twig' %}

{% block body %}
    {{ dump() }}

    {{ form(formArret) }}

    {% if formArret.vars.submitted %}
        <h1>Arret: {{ formArret.vars.data.nomArret }}</h1>
    {% endif %}
    
    {% if dataSens0|length != 0 %}
        <h2>Destination: {{ dataSens0|first['destination'] }}</h2>
        {% for d in dataSens0 %}
            <ul>
                <li>Prochaine Arrivée: {{ d.arrivee }}</li>
            </ul>
        {% endfor %}
    {% endif %}

    {% if dataSens1|length != 0 %}
        <h2>Destination: {{ dataSens1|first['destination'] }}</h2>
        {% for d in dataSens1 %}
            <ul>
                <li>Arrivée: {{ d.arrivee }}</li>
            </ul>
        {% endfor %}
    {% endif %}

{% endblock %}