{% extends 'base.html.twig' %}

{% block header %}
    {% include 'components/header.html.twig' %}
{% endblock %}

{% block body %}
    <section>
        {{ form(formArret) }}

        <div class="card-content">
            <span class="info-title">Station
                {% if formArret.vars.submitted %}
                    {{ formArret.vars.data.nomArret }}
                {% endif %}
            </span>

            <div class="info-left">
                <span>Direction J.F. Kennedy</span>

                {% if (nextArret0.depart is not empty) %}
                    <span>Prochaine départ à :
                        {{ nextArret0.depart }}
                </span>
                    {# <span>Prochaine départ dans: {{ dataSens0|first['depart']|time_diff }}</span> #}
                {% else %}
                    <span>Pas de données pour le moment</span>
                {% endif %}
            </div>

            <div class="info-right">
                <span>Direction La Poterie</span>

                {% if (nextArret1.depart is not empty) %}
                    <span>Prochaine départ à : {{ nextArret1.depart }} </span>
                    <span>Prochaine départ dans : 02m 34s</span>
                {% else %}
                    <span>Pas de données pour le moment</span>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html.twig' %}
{% endblock %}
